
*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    align-items: center;
}

/* Apply basic styles */
body {
    font-family: 'Qwitcher Grypen', sans-serif;
    line-height: 1.7;
    background: linear-gradient(to bottom, #c2c4b9, #c0b5b5);
    color: #b98383;
    overflow-x: hidden; /* IT WILL BE PREVENTING SCROLLBAR HORIZONTALLY*/
    align-items: center;
}

header {
    background: #474545;
    color: #857d7d;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 5px 7px rgba(100, 93, 93, 0.1);
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 19px;
    position: relative;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #bbc9c8;
    font-weight:bolder;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #777a5e;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    color:rgb(204, 204, 18);
    transform: translateY(-3px);
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    max-width: 1205px;
    margin: 0 auto;
    padding: 22px;
}

main {
    padding: 22px;
}

section {
    margin-bottom: 31px;
    padding: 22px;
    background: #ffecec;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(37, 34, 34, 0.1);
}

h1 {
    font-size: 20px;
    margin-bottom: 14px;
    color: white;
}

p {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #615c5c;
}

button {
    background: #fcbc92;
    color: #c9aeae;
    border: none;
    padding: 13px 25px;
    font-size: 19px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background: #ac786a;
}

footer {
    text-align: center;
    background: #423c3c;
    color: #c2b8b8;
    padding: 22px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 7px rgba(29, 28, 28, 0.1);
}

/* Responsive Design */

@media (max-width: 710px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul li {
        margin: 12px 0;
    }
}
