body {
    font-family: calibri;
    line-height: 1.8;
    padding: 50px;
    background-color: #878656;
}
header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #c78686;
}
h1 {
    margin: 0;
    padding: 20px;
}

h2 {
    color: #000000;
    margin: 0;
}

section {
    margin-bottom: 12px;
}h3 {
    color: #f34848;
}
h4 {
    color: #5d3555;
}
ul{
    padding-left: 50px;
}
table, th, td {
    border: 1px solid rgb(70, 150, 100);
    border-collapse: collapse;
  }
  th, td {
    background-color: #5c1a80;
  }

  img {
    border: 10px solid #cec3c3;
  }
